<% provide(:title, "關於我") %>
<h1>關於我</h1>
<div style="text-align:center">
  <%= image_tag("avatar.jpg", alt: "我的照片", :width => "30%") %>
  <h3>郭家銍</h3>
  <p>
    現就讀台灣科技大學資工系，擅長Rails全端網頁開發。
  </p>
  <p>
    我的 <a href="https://github.com/jerrykuo7727">Github</a>
    與 <a href="https://jiazhionrails.blogspot.tw/">部落格</a>
  </p>
</div>