<% provide(:title, "協助") %>
<h1>協助</h1>
<p>
  若您也對 Ruby on Rails 有興趣，不妨參考 
  <a href="www.theodinproject.com/"><em>The Odin Project</em></a> 與 
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em></a> 的教學。
</p>
