<h1>重置密碼</h1>

<p>請點擊以下連結來重置您的密碼：</p>

<%= link_to "點此重置您的密碼", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>這條連結將在兩小時候失效。</p>

<p>如果您未曾要求重置密碼，請無視這封郵件並儘快變更密碼。</p>