<footer class="footer">
  <small>
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    作者：<a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "關於我", '#' %></li>
      <li><%= link_to "聯絡", '#' %></li>
      <li><a href="http://news.railstutorial.org/">最新消息</a></li>
    </ul>
  </nav>