<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "樣品App", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "首頁",   '#' %></li>
        <li><%= link_to "需要協助？",   '#' %></li>
        <li><%= link_to "登入", '#' %></li>
      </ul>
    </nav>
  </div>
</header>